.header {
    display: flex;
    flex-direction: column;
    background-color: #1F2937;
    font-size: 24px;
    color: #F9FAF8;
}

.header-links {
    display: flex;
    margin-right: 40px;
    font-size: 18px;
    color: #E5E7EB;
    list-style-type: none;
}

.top-header {
    display: flex;
    justify-content: space-between;
}

.header-logo {
    padding: 8px;
    margin-left: 40px;
}

.info-header {
    font-size: 36px;
    font-weight: bolder;
    color:#1F2937;
}

button {
    background-color: #3882F6;
    color: white;
}

.mid {
    background-color: #E5E7EB;
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.bottom-mid{
    background-color: #3882F6;
}

.footer {
    background-color: #1F2937;
    color: #E5E7EB;
}